.container {
    display: flex;
    margin-left: 40%;
    margin-top: 5%;
    
   .main img{
    width: 50vh;
    margin-left: 1%;
    height: 72vh;
    border-radius: 4px;
    object-fit: cover;

    }
    
    
   }
   form{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    

   }
   
   label {
    display: block;
    margin-bottom: 5px;
   }
   
   input[type="text"],
   input[type="email"],
   input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
   }
   
   button {
    background-color:  red;
    color: white;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 40%;
   }
   
   #message {
    margin-top: 10px;
    font-weight: bold;
   }
   h1{
    text-align: center;
   }
   /* responsiveness */
   
   @media (max-width:768px) {
    form{
        h1{
            color: black;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
        }
     width: 300px;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
     margin-left: 1px;
     background-color:white;
 
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"] {
     width: 100%;
     padding: 10px;
     margin-bottom: 10px;
     border: 1px solid #ccc;
     border-radius: 3px;
     box-sizing: border-box;
    }
    .container{
     margin-left: 7%;
 
    }
    label{
     font-size: 30px;
     color: white;
    }
    p{
     font-size: 30px;
    }
    button{
     font-size: 20px;
     font-weight: bold;
     background-color: #f87109;
    }
    p{
     font-size: 15px;
     font-family: 'Times New Roman', Times, serif;
     color: black;
    }
    a{
     color: black;
     font-size: 25px;
    }
  
 }
   