{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>

<div class="container">
  <div class="main">
    <form method="POST">
      {% csrf_token %}
      <h1>Sign up</h1><br><br>

      <label>Name:</label>
      <input type="text" name="name" value="{{ form.name.value }}" required><br><br>

      <label>Email:</label>
      <input type="email" name="email" value="{{ form.email.value }}" required><br><br>

      <label>Password:</label>
      <input type="password" name="password" required><br><br>

      {% if error_message %}
        <p style="color:red;">{{ error_message }}</p>
      {% endif %}

      <p>Already have an account? <a href="{% url 'login' %}">Sign in</a></p><br>

      <button type="submit">Sign up</button>
      <div id="message"></div>
    </form>
  </div>
</div>

</body>
</html>
